h1 {
    
    font-size: 40px;
    background-color: rgb(255, 169, 107);
    color: aliceblue;
    padding: 20px 20px;
    text-align: center;
    border: rgb(255, 160, 93) dotted;
}
.food,
.drinks {
    /* background-color: chocolate; */
    padding-bottom: 10px;
    /* display: block */
}
ul {
    list-style-type: none;
    text-align: center;
    background-color: rgb(255, 169, 107);
    border: rgb(255, 160, 93) dotted;
}
li {
    font-size: 25px;
    margin-bottom: 8px;
}
a {
    color: black;
}
body {
    background-color: rgb(228, 194, 169);
    font-family: Verdana, Georgia, sans-serif;
}
img {
    display: block;
    height: 120px;
    padding-top: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}